{% extends 'clinics/base.html'%}
{% load i18n %}



{% block title %} {% trans "Detail Doctor" %} {% endblock %}

{% block content_area %}
 
<!--  BEGIN CONTENT AREA  -->
<div id="content" class="main-content">
	<div class="layout-px-spacing">
		<div class="contact-us layout-top-spacing">
			<div class="cu-contact-section" >
				<div class="contact-form">            
					<div class="mb-4 cu-section-header">
						<h3>{% trans 'Detail Sessions' %}</h3>
						<h5>{% trans 'Coming Soon' %}</h5>
					</div>

                <div>
            </div>
        </div>
    </div>
</div>
    <!--  END CONTENT AREA  -->
{% endblock %}
